<template>
  <nav class="list">
    <div class="list__item" v-for="(item, index) in projects" :key="item.subdomain">
      <button class="list__button" 
          :class="{'list__button--highlighted': item.highlighted}"
          @click="navigateTo(item.subdomain)" tabindex="-1">
        <ProjectsListItem v-bind:project="item"></ProjectsListItem>
      </button>
      <button class="list__button-favourite" title="mark as favourite"
        :class="{'list__button-favourite--active': item.isFavourite}"
        @click.stop="toggleFavourite(item)" tabindex="-1"></button>
      <!-- applying tabindex-1 so the buttons wont get on the taborder -->
    </div>
  </nav>
</template>

<script>
import ProjectsListItem from './ProjectsListItem'
export default {
  name: 'projectsList',
  props: ['projects'],
  components: { ProjectsListItem },
  methods: {
    navigateTo (subdomain) {
      this.$router.push({ name: 'Project', params: { id: subdomain } })
      // TODO: update the lastOpened timestamp, reorder the list and call a service to store the updated timestamp
    },
    toggleFavourite (item) {
      item.isFavourite = !item.isFavourite
      // TODO: reorder projects and call service to save the data
    }
  }
}
</script>

<style lang="scss" scoped>
// TODO: 
// - limit the height of the list to the available size on the view port
// - make the layout responsive
.list {
  max-height: 24rem; // cutting in the middle so the user understands that there are more projects available
  overflow: auto;
}
.list__item {
  border-bottom: 1px solid #575e70;
  position: relative;
  width: 100%;
}
.list__button {
  display: block;
  width: 100%;
  padding: 1rem 3rem;
  background: #4e5364;
}
.list__button:hover,
.list__button--highlighted {
  background: #575e70;
}
.list__button-favourite {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  content: " ";
  background-image: url(../../assets/images/star.svg);
  background-size: 1.2rem 1.2rem;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;

  &:hover,
  &--active {
    background-image: url(../../assets/images/star-active.svg);
  }
}

</style>
