<template>
  <div class="item">
    <div class="item__icon-privacy" :class="[project.isPublic ? 'item__icon-privacy--public' : 'item__icon-privacy--private']"></div>
    <!-- TODO: truncate each text property with ellipses, expanding with a fade on hover/highlight, preventing a property from taking over all the visible area -->
    <h3 class="item__title">
      <span v-html="project.title"></span>
      <small class="item__format">&bull; {{ project.format }}</small>
    </h3>
    <div class="item__description">
      <span v-html="project.subdomain"></span> &bull;
      <span v-html="project.owner"></span>
      <span class="item__icon item__icon--users"> {{ project.numberUsers }} </span>
      <span class="item__icon item__icon--github" v-if="project.isGithubConnected" title="GitHub connected"> Github</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'projectsListItem',
  props: [
    'project'
  ]
}
</script>

<style lang="scss" scoped>
.item {
  width: 100%;
  white-space: nowrap;
  text-align: left;
  font-size: 14px;
}
.item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  color: #fff;
}
.item__format {
  font-size: .75rem;
  font-weight: normal;
  color: lighten(#959cad, 20%)
}
.item__description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #959cad;
}
.item__icon {
  margin-left: .3rem;
  font-size: .75rem;

  &:before {
    content: " ";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-bottom: -1px;
  }
}
// the usage of the following icons is under consideration
// .item__icon--swagger:before {
//   background-image: url(../../assets/images/swagger.svg);
//   width: 12px;
//   height: 12px;
// }
// .item__icon--blueprint:before {
//   background-image: url(../../assets/images/blueprint.svg);
//   width: 14px;
//   height: 12px;
// }
.item__icon--users:before {
  background-image: url(../../assets/images/users.svg);
  width: 14px;
  height: 10px;
}
.item__icon--github:before {
  background-image: url(../../assets/images/github.svg);
  width: 12px;
  height: 12px;
}

.item__icon-privacy {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);

  &:before {
    content: " ";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    margin-bottom: -1px;
    opacity: .5;
  }
}
.item__icon-privacy--public:before {
  background-image: url(../../assets/images/public.svg);
}
.item__icon-privacy--private:before {
  background-image: url(../../assets/images/private.svg);
}
</style>
