<template>
  <div class="projects" v-click-outside="hide" @keydown.esc="hide">
    <button class="app-header__nav app-header__nav--expandable projects__switcher" 
        :class="{'switcher--toggled app-header__nav--expanded': toggled}"
        @click="toggle" ref="switcher"
        itemscope itemtype="http://schema.org/SoftwareSourceCode">
      <ProjectsListItem v-if="selectedProject" v-bind:project="selectedProject"></ProjectsListItem>
    </button>
    <transition name="fade">
      <div class="projects__list" v-if="toggled">
        <button type="button" class="list__button list__button--create-new-api">Create New API Project</button>
        <div class="list__search">
          <input type="text" class="list__search-input" v-model="searchQuery" 
              @keydown.esc.stop="onSearchEscapePress" 
              @keydown.enter.stop="selectHighligthedProject"
              @keydown.down.stop="highlightNext"
              @keydown.up.stop="highlightPrevious"
              ref="search" placeholder="Find an API Project…">
              <!-- @keydown.escape.stop="onSearchEscapePress" - stop propagation of the escape keydown even and trigger the method onSearchEscapePress -->
          <button type="button" class="list__search-filter" title="filter projects"></button>
          <!-- TODO: add menu to filter projects by type, personal or team projects -->
        </div>
        <ProjectsList v-bind:projects="projects"></ProjectsList>
        <div v-if="searchQuery && !projects.length" class="list__search-noresults">No results found</div>
      </div>
    </transition>
  </div>
</template>



<script>
import ProjectsListItem from './ProjectsListItem'
import ProjectsList from './ProjectsList'
import Services from '../../services/projectsList.js'

export default {
  name: 'projects',
  data () {
    return {
      toggled: false,
      searchQuery: '',
      projects: [],
      highlightedProjectIndex: 0,
      selectedProject: null
    }
  },
  mixins: [Services],
  components: { ProjectsListItem, ProjectsList },
  watch: {
    toggled: function (isToggled) {
      const moveFocus = () => {
        // move focus to search when opening, or to swittcher button when closing
        isToggled ? this.$refs.search.focus() : this.$refs.switcher.focus()
      }
      // delaying to the next cycle, after the element search is rended on the DOM
      setTimeout(moveFocus)
    },
    searchQuery: function (newQuery) {
      this.searchProjects(newQuery)
        .then(reponse => this.updateProjects(reponse))
    },
    // when url changes
    '$route' (to, from) {
      // select the project according to the url
      this.selectProject(to.params.id)
      // close the switcher
      this.hide()
    }
  },
  methods: {
    toggle () {
      this.toggled = !this.toggled
    },
    hide () {
      this.toggled = false
    },
    onSearchEscapePress () {
      if (this.searchQuery) {
        this.searchQuery = ''
      } else {
        this.toggled = false
      }
    },
    highlightPrevious () {
      let currentIndex = Math.max(this.highlightedProjectIndex - 1, 0)
      this.moveHighlight(currentIndex)
    },
    highlightNext () {
      let currentIndex = Math.min(
        this.highlightedProjectIndex + 1,
        this.projects.length - 1
      )
      this.moveHighlight(currentIndex)
    },
    setHightlight (index) {
      this.$set(this.projects[index], 'highlighted', true)
      this.highlightedProjectIndex = index
    },
    removeHighlight (index) {
      this.$set(this.projects[index], 'highlighted', false)
    },
    moveHighlight (currentIndex) {
      this.removeHighlight(this.highlightedProjectIndex)
      this.setHightlight(currentIndex)
    },
    selectHighligthedProject () {
      this.$router.push({
        name: 'Project',
        params: { id: this.projects[this.highlightedProjectIndex].subdomain }
      })
    },
    selectProject (subdomain) {
      const getSelectedProjectIndex = () => {
        let projectIndex = 0 // default project index, in case no another matches
        this.projects.forEach((project, index) => {
          if (project.subdomain === subdomain) projectIndex = index
        })
        return projectIndex
      }

      this.searchQuery = '' // clear search
      setTimeout(() => { // delay to execute after clearing the search
        this.selectedProject = this.projects[getSelectedProjectIndex()]
        this.moveHighlight(getSelectedProjectIndex())
      }, 100)
    },
    updateProjects (data) {
      this.projects = data
    }
  },
  // on init
  created () {
    this.getProjects() // call service to get projects list
      .then(response => {
        this.updateProjects(response)
        this.selectProject(this.$route.params.id || this.projects[0].subdomain)
      })
  }
}
</script>



<style lang="scss" scoped>
.projects {
  position: relative;

  &:before,
  &:after {
      display: block;
      content: '';
      position: absolute;
      top: 20px;
      width: 1px;
      bottom: 20px;
      background-color: #585e6f;
  }
  &:after {
    right: 0;
  }
}
.projects__switcher {
  padding: 0 5rem 0 3rem;
  width: 22rem;
  align-items: left;
  position: relative;
  z-index: 1; /*putting the button in front of the lines*/
}
.projects__switcher:after {
  display: block;
  content: url('../../assets/images/arrow.svg');
  transition: transform .3s ease;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 10px;
}
.switcher--toggled:after {
  transform: rotate(180deg);
}

.projects__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 30rem;
  background: #3a3f4f;
}
.list__button {
  width: 100%;
  padding: 1rem;
  text-align: left;
}
.list__button--create-new-api {
  background: #49cc90;
  font-weight: 700;
  color: #fff;
  padding-left: 3rem;
  position: relative;

  &:before {
    display: block;
    content: url('../../assets/images/add.svg');
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 1rem;
    width: 20px;
    transform: translateY(-50%);
  }
  &:hover,
  &:focus {
    background: darken(#49cc90, 10%);
  }
}
.list__search-input {
  padding: 1rem 3rem;
  width: 100%;
  color: #adb3be;
  background: url('../../assets/images/search.svg') no-repeat 1rem center;
  background-size: 1rem 1rem
}
.list__search {
  position: relative;
}
.list__search-filter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  height: 1rem;

  &:before {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    content: " ";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/images/filter.svg');
  }

  &:hover:before,
  &--active:before {
    background-image: url('../../assets/images/filter-active.svg');
  }
}
.list__search-noresults {
  padding: 1rem;
  color: #fff;
}
</style>
