<template>
  <div id="app">
    <app-header></app-header>
    <router-view></router-view>
  </div>
</template>

<script>
import AppHeader from './AppHeader'
export default {
  name: 'app',
  components: { AppHeader }
}
</script>

<style src="../assets/styles/app.scss" lang="scss"></style>
<!-- 
"scoped" attribute could be used to limit CSS to this component only 
-->
<style>
#app, button, input, optgroup, select, textarea {
  font: 16px 'Proxima Nova', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}
</style>
