<template>
  <header class="app-header">
    <a href="https://apiary.io" class="app-header__nav app-header__logo">
      <!-- TODO: replace this image with another for high DPI -->
      <img src="../assets/images/logo.png" alt="Apiary">
    </a>
    <projects></projects>
    <nav class="app-header__nav">
      <a href="#" class="app-header__nav-link app-header__nav-link--active">Documentation</a>
      <a href="#" class="app-header__nav-link">Inspector</a>
      <a href="#" class="app-header__nav-link">Editor</a>
      <a href="#" class="app-header__nav-link">Tests</a>
    </nav>
  </header>
</template>

<script>
import Projects from './header/Projects'
export default {
  name: 'app-header',
  components: { Projects }
}
</script>

<style lang="scss">
.app-header {
  background: #4c5264;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 5rem;
}

.app-header__nav {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.app-header__nav-link {
  text-decoration: none;
  color: #959cad;
  padding: 1rem;
}
.app-header__nav-link:hover,
.app-header__nav-link:focus,
.app-header__nav-link--active {
  color: #fff;
}

.app-header__nav--expandable:hover,
.app-header__nav--expanded {
  background: #575e70;
}
.app-header__nav--expandable:focus {
  background: darken(#575e70, 10%)
}

.app-header__logo {
  height: 5rem;
  width: 5rem;

  &:hover,
  &:focus {
    opacity: .8;
  }
}

</style>
