<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to apiary switcher\'s implementation in Vue.js'
    }
  }
}
</script>

<style>

</style>
