/*this could be replaced with a mainstream css normalizer, like normalize.css*/

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
	background-repeat: no-repeat;
	box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}
body {
  min-height: 100%;
}

:active,
:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  color: #42b983;
}

button,
input[type="text"],
input[type="search"] {
  border: 0;
  padding: 0;
  background: transparent;
}

button {
  cursor: pointer;
}