/*Just dropping here Proxima Nova font, from the official website*/

@font-face {
  font-family: Proxima Nova;
  src: url(https://static.apiary.io/assets/CqwkDzo5.woff) format('woff'), url(https://static.apiary.io/assets/3Dni6xh3.ttf) format('truetype');
  font-style: normal;
  font-weight: 200
}

@font-face {
  font-family: Proxima Nova;
  src: url(https://static.apiary.io/assets/1K8PRlDZ.woff) format('woff'), url(https://static.apiary.io/assets/25DcRTri.ttf) format('truetype');
  font-style: normal;
  font-weight: 100
}

@font-face {
  font-family: Proxima Nova;
  src: url(https://static.apiary.io/assets/2yquIym3.woff) format('woff'), url(https://static.apiary.io/assets/1tVi0Bx3.ttf) format('truetype');
  font-style: italic;
  font-weight: 100
}

@font-face {
  font-family: Proxima Nova;
  src: url(https://static.apiary.io/assets/3dwS209p.woff) format('woff'), url(https://static.apiary.io/assets/18gHsRmv.ttf) format('truetype');
  font-style: italic;
  font-weight: 200
}

@font-face {
  font-family: Proxima Nova;
  src: url(https://static.apiary.io/assets/3Kl6Zq_z.woff) format('woff'), url(https://static.apiary.io/assets/ScDP9OUY.ttf) format('truetype');
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: Proxima Nova;
  src: url(https://static.apiary.io/assets/2vk4ejGg.woff) format('woff'), url(https://static.apiary.io/assets/1XEzkn2o.ttf) format('truetype');
  font-style: italic;
  font-weight: 400
}

@font-face {
  font-family: Proxima Nova;
  src: url(https://static.apiary.io/assets/2BO5o3tG.woff) format('woff'), url(https://static.apiary.io/assets/3ZzSQlgx.ttf) format('truetype');
  font-style: italic;
  font-weight: 600
}

@font-face {
  font-family: Proxima Nova;
  src: url(https://static.apiary.io/assets/3-pTHw_0.woff) format('woff'), url(https://static.apiary.io/assets/1q9EsCjz.ttf) format('truetype');
  font-style: normal;
  font-weight: 600
}

@font-face {
  font-family: Proxima Nova;
  src: url(https://static.apiary.io/assets/1BYEplKn.woff) format('woff'), url(https://static.apiary.io/assets/TnS8JJkX.ttf) format('truetype');
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: Proxima Nova;
  src: url(https://static.apiary.io/assets/QdyBie7R.woff) format('woff'), url(https://static.apiary.io/assets/1wMLcwZZ.ttf) format('truetype');
  font-style: italic;
  font-weight: 700
}